/django-server/.idea
/django-server/venv
django-server/whereismycash/manageCash/__pycache__
django-server/whereismycash/whereismycash/__pycache__
django-server/whereismycash/manageCash/migrations/__pycache__
django-server/whereismycash/db.sqlite3
